.genre-container {
  background: grey;
}
.dashboard-container {
  /* padding: 3em; */
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
