.selector-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  padding-bottom: 2em;
  background: #444;
}
@media only screen and (max-width: 768px) {
  .selector-panel {
    width: 100%;
  }
}
.genre-buttons,
.age-filter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.selector-panel button {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.active {
  background: white;
  color: black;
}
.inactive {
  background: #444;
  color: white;
}
